---
import "../styles/global.css";
import Satellite from "../components/pages/Satellite";
import { hongkongConfig } from "../config/hongkong";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campfire Hong Kong - Hack Club</title>
    
    <!-- Font Preloading -->
    <link rel="preload" href="/fonts/GenSenRounded.otf" as="font" type="font/otf" crossorigin />
    <link rel="preload" href="/fonts/GenWanMin.otf" as="font" type="font/otf" crossorigin />
    <link rel="preload" href="/fonts/ember-and-fire.woff" as="font" type="font/woff" crossorigin />
    <link rel="preload" href="/fonts/dreamplanner.woff" as="font" type="font/woff" crossorigin />
    
    <!-- OpenGraph meta tags -->
    <meta property="og:title" content="Campfire Hong Kong - Hack Club" />
    <meta property="og:description" content="Join Campfire Hong Kong - a high school game jam! Build amazing games and compete for epic prizes." />
    <meta property="og:image" content="/og-banner.png" />
    <meta property="og:url" content="https://campfire-hk.hackclub.com" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Campfire Hong Kong" />
    
    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@hackclub" />
    <meta name="twitter:title" content="Campfire Hong Kong" />
    <meta name="twitter:description" content="Join Campfire Hong Kong - a high school game jam! Build amazing games and compete for epic prizes." />
    <meta name="twitter:image" content="/og-banner.png" />

  </head>
  <body>
    <Satellite client:only="react" slug="hong-kong" content={hongkongConfig} />
  </body>
</html>
